<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Carousel Array Roberto D'Ambrosio</title>
</head>
<body>
    <div id="root">
    <div class="container">
        <div class="slider">
            <div class="items-container">
                 <div class="item" v-for="(element, i) in items" :class="setActiveClass(i)"> 
                    <img :src="element.image" :alt="element.title" >
                    <div class="testo">
                    <h2>{{element.title}}</h2><p>{{element.sub}}</p>
                    </div>
                </div>
            </div>
            
        </div>    
        <div class="thumbnails">
            <div class="thumbnails-container">
                <div class="thumb" v-for="(element, i) in items" :class="setActiveClass(i)">
                    <img :src="element.image">
                </div>

            </div>
                <div class="prev" @click="prevImg()">&uarr;</div>
                <div class="next" @click="nextImg()">&darr;</div>
        </div>

    </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="js/main.js"></script>
</body>
</html>